* {
    --light-background: #F6F6F6;
    --dark-background: #20252c;
    --light-text: #433B4B;
    --dark-text: #EEF1F5;
    --name-text: #f20a72;
    animation-fill-mode: forwards;
    line-height: 2vw;
}

a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
    display: block;
}

html, body {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--light-background);
    opacity: 1;
    transition: opacity linear 100ms;
}

body.fade {
    opacity: 0;
}

.title-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.sacramento {
    font-family: 'Sacramento', cursive;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.small-title {
    font-size: 5vh;
    color: var(--light-text);
}

.big-title {
    font-size: 14vh;
    color: var(--name-text);
}

.big-icon {
    font-size: 6vh;
}

.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.clickable {
    cursor: pointer;
    z-index: 10;
}

.top-left {
    position: fixed;
    margin-top: 1.5vh;
    margin-left: 1.5vh;
    width: 40px;
}

.centre-text {
    width: 100%;
    margin: 1.5vh 0; 
    text-align: center;
}

.account-button {
    margin-bottom: 2vh;
}

.position {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 3vh;
}

.icon {
    font-size: 3vh;
}

.position.web {
    animation: leftIn 1s ease-in;
    animation-delay: 100ms;
    animation-fill-mode: forwards;
    opacity: 0;
}

.position.developer1 {
    animation: rightIn 1s ease-in;
    animation-delay: 100ms;
    animation-fill-mode: forwards;
    opacity: 0;
}

.position.net {
    animation: leftIn 1s ease-in;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.position.developer2 {
    animation: rightIn 1s ease-in;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.position.database {
    animation: leftIn 1s ease-in;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.position.developer3 {
    animation: rightIn 1s ease-in;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.slide-in {
    position: relative;
    animation: slideIn 400ms ease-in;
    animation-fill-mode: forwards;
    opacity: 0;
}

.invisible {
    color: transparent;
}

#projects-button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8vw;
    animation: bounceUp 200ms alternate-reverse infinite;
    cursor: pointer;
}

.bouncing-button {
    position: relative;
    width: 100%;
    text-align: center
}

.arrow {
    font-size: 5vw;
}

#page-transition {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: #AB1111;
    box-shadow: 0 -5px 20px grey;
    z-index: 100;
}

@keyframes growIn {
    0% {
        height: 0;
    }

    100% {
        height: 100%;
    }
}

@keyframes growOut {
    0% {
        height: 120%;
    }

    100% {
        height: 0;
    }
}

@keyframes bounceUp {
    0% {
        bottom: 0.5vw;
    }

    100% {
        bottom: 0vw;
    }
}

@keyframes slideIn {
    0% {
        bottom: 30px;
        opacity: 0;
    }

    100% {
        bottom: 0;
        opacity: 1;
    }
}

@keyframes leftIn {
    0% {
        right: 100px;
        opacity: 0;
    }

    75% {
        opacity: 0.5;
    }

    100% {
        right: 0;
        opacity: 1;
    }
}

@keyframes rightIn {
    0% {
        left: 100px;
        opacity: 0;
    }

    75% {
        opacity: 0.5;
    }

    100% {
        left: 0;
        opacity: 1;
    }
}

@media only screen and (max-width: 800px) {
    .centre-text {
        margin: 3vh 0;
    }
}

@media only screen and (max-width: 700px) {

    .centre-text {
        width: 100%;
        font-size: 45px;
    }

    .big-title {
        font-size: 12vh;
    }

    .big-icon {
        font-size: 5.5vh;
    }

    .position {
        position: relative;
        font-family: 'Roboto', sans-serif;
        font-size: 3vh;
    }

    .icon {
        font-size: 3vh;
    }
}
