#container {
    justify-content: center;
    display: block;
    padding: 3rem;
    margin: 20px auto 0 auto;
    max-width: 950px;
    box-sizing: border-box;
    background-image: linear-gradient(#c9c9c9 0%, #9a9a9a 10%, #919191 50%, #7e7e7e 100%);
    background-size: 100%;
    border-radius: 90px 90px 0 0;
    box-shadow: 15px 5px 30px #00000020;
}

#name {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-family: 'Acme', sans-serif;
    font-size: 70px;
}

#summary {
    width: 45%;
    display: inline-block;
    padding: 2px;
    font-family: 'Indie Flower', cursive;
    font-weight: 700;
    line-height: 25px;
    transform: translateY(2px);
}

#summary-head {
    font-weight: 900;
    font-size: 25px;
    text-decoration: underline;
}

#profile {
    margin: -20px 30px 0;
    width: 150px;
    display: inline-block;
    border-radius: 300px;
    box-shadow: 0 5px 8px 1px #00000020;
}

#small-profile {
    margin: -20px 0 0 10px;
    width: 150px;
    display: none;
    border-radius: 300px;
    box-shadow: 0 5px 8px 1px #00000020;
}

#letter-C {
    color: purple;
    text-shadow: 1px 0px 0px #5f035f, 0px 1px 0px #5f035f, 2px 1px 0px #5f035f, 1px 2px 0px #5f035f, 3px 2px 0px #5f035f, 2px 3px 0px #5f035f, 4px 3px 0px #5f035f, 3px 4px 0px #5f035f, 5px 4px 0px #5f035f, 4px 5px 0px #5f035f, 6px 5px 0px #5f035f, 5px 6px 0px #5f035f;
}

#letter-V {
    color: orange;
    text-shadow: 1px 0px 0px #bb7b03, 0px 1px 0px #bb7b03, 2px 1px 0px #bb7b03, 1px 2px 0px #bb7b03, 3px 2px 0px #bb7b03, 2px 3px 0px #bb7b03, 4px 3px 0px #bb7b03, 3px 4px 0px #bb7b03, 5px 4px 0px #bb7b03, 4px 5px 0px #bb7b03, 6px 5px 0px #bb7b03, 5px 6px 0px #bb7b03;
}

#notepad {
    background-image: repeating-linear-gradient(white 0px, white 24px, #d53b3b 25px);
    box-shadow: 0 5px 8px 1px #00000020;
    margin: 30px 10% 0;
    display: inline-block;
    text-align: center;
    padding-bottom: 5px;
}

#project-container, #year-container {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    margin-top: 35px;
    text-align: center;
}

#project-container {
    margin: 15px 0 30px 0;
    position: relative;
    width: 80%;
    perspective: 600px;
    height: 300px;
}

#project-container span {
    text-decoration: underline;
}

#year-container {
    display: inline-block;
    height: 400px;
}

.year {
    display: inline-block;
    box-shadow: 0 5px 8px 1px #00000020;
    width: 30.5%;
    height: calc(100% - 20px);
    padding: 1%;
    background-color: #ecb7d0;
    vertical-align: top;
}

.year-heading {
    width: 62%;
    left: 18%;
    top: -15px;
    font-size: 16px;
    background-image: linear-gradient(45deg, transparent, #ffffff80, transparent);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: -200%;
}

.badge {
    text-align: center;
    position: relative;
    background-color: cornflowerblue;
    color: #3c5a91;
    text-shadow: 0 1px 1px #9abaf7, 0 -1px 1px #507cce;
    box-shadow: 0 5px 8px 1px #00000020;
    border-radius: 45px;
    border-style: solid;
    border-color: #4a70b6;
    border-width: 1px 2px 4px;
    padding: 3px;
}

.project {
    display: inline-block;
    width: 65px;
    margin: 0 10px;
    transition: transform 0.1s;
    cursor: pointer;
    transform-origin: bottom;
    background-color: #ff9b68;
    border-color: #ffa55f;
    border-style: solid;
    border-width: 1px 2px 4px;
    box-shadow: 0 5px 8px 1px #00000020;
    border-radius: 25px 25px 0 0;
    padding: 5px;
}

.project:hover {
    transform: scale(1.15);
}

.account {
    margin: 10px 5px 0;
    width: 12%;
    max-width: 70px;
    transition: transform 0.1s;
    cursor: pointer;
    float: right;
    border-radius: 45px;
    box-shadow: 0 5px 8px 1px #00000020;
}

.description {
    padding: 16px;
    box-shadow: 0 5px 8px 1px #00000020;
    border-style: solid;
    border-width: 1px 2px 4px;
    background-color: #ff9b68;
    border-color: #ffa55f;
    font-family: "Indie Flower", cursive;
    text-align: left;
    position: absolute;
    top: 70px;
}

.rotated {
    transform: rotateX(-90deg) scale(1, 0);
    transform-origin: top;
    animation-iteration-count: 1;
}

.year:hover .year-heading {
    animation: shiny 1s;
    animation-play-state: running;
}

.year ul {
    display: contents;
    list-style-type: none;
}

ul li::before {
    content: "- ";
    font-weight: bold;
}

ul li {
    font-family: "Indie Flower", cursive;
    font-size: 15px;
    text-indent: -0.5em;
    margin-left: 0.8em;
    margin-top: 10px;
    line-height: 16px;
}

#cards-container {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: calc(80% - 10px);
    background-color: red;
    margin-top: 30px;
}

.card-stack {
    width: 48%;
    height: 180px;
    perspective: 100px;
}

.card-stack.languages {
    float: left;
}

.card-stack.achievements {
    float: right;
}

.card {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0 5px 8px 1px #00000020;
    transition: transform 400ms;
    display: grid;
    grid-template-rows: 20% 80%;
    grid-row-gap: 5px;
    font-family: 'Indie Flower', cursive;
    font-size: 16px;
}

.card.languages {
    background: linear-gradient(-135deg, #3b9ac6 7.5px, transparent 0) 0 7.5px, linear-gradient(135deg, #3b9ac6 7.5px, #4fc4fa 0) 0 7.5px;
    background-color: #3b9ac6;
    background-size: 15px 80%;
    background-repeat: repeat-x;
    background-position-y: bottom;
}

.card.achievements {
    background: linear-gradient(-135deg, #969743 7.5px, transparent 0) 0 7.5px, linear-gradient(135deg, #969743 7.5px, #c9cb5a 0) 0 7.5px;
    background-color: #969743;
    background-size: 15px 80%;
    background-repeat: repeat-x;
    background-position-y: bottom;
}

.card h1 {
    font-size: 18px;
    text-align: left;
    grid-row: 1;
    margin: 5px 8px;
    opacity: 0.5;
    color: #343411;
}

.card.languages h2 {
    width: 100%;
    vertical-align: middle;
    font-size: 30px;
    bottom: -5px;
    text-align: center;
    grid-row: 2;
    color: #f3f726;
    text-shadow: 0 1px 1px #f5be6dd9, 0 -1px 1px #9b6e29;
    position: absolute;
}

.card p {
    font-weight: bold;
    text-align: center;
    grid-row: 2;
    margin: 7% 3% 0 3%;
    color: #161b1d;
    position: absolute;
}

.card img {
    width: 80%;
    height: 80%;
    object-fit: contain;
    object-position: center;
    grid-row: 2;
    margin: 5% 0 0 10%;
    position: absolute;
    opacity: 0.5;
}

.card:nth-last-child(1) {
    --y: calc(-50%);
    transform: translate(-50%, var(--y)) scale(1.05);
}

.card:nth-last-child(n + 2) {
    --y: calc(-50%);
    transform: translate(-50%, var(--y)) scale(0.98);
    box-shadow: 0 0 1px 1px #00000003;
}

@keyframes swap {
    45% {
        transform: translate(-50%, calc(var(--y) - (65%))) scale(0.95, 0.25) rotateX(15deg);
    }
    55% {
        transform: translate(-50%, calc(var(--y) - (70%))) scale(0.95, 0);
    }
    65% {
        transform: translate(-50%, calc(var(--y) - (65%))) scale(0.95, 0.1) rotateX(-15deg);
    }
    100% {
        transform: translate(-50%, calc(var(--y))) scale(0.95);
        z-index: -1;
    }
}

@keyframes shiny {
    0% {
        background-position: -150%;
    }
    100% {
        background-position: 150%;
    }
}

@keyframes hide-pane {
    0% {
        transform: rotateX(0);
    }
    99% {
        transform: rotateX(82deg);
    }
    100% {
        transform: scale(1, 0);
    }
}

@keyframes show-pane {
    0% {
        transform: rotateX(82deg);
    }
    100% {
        transform: rotateX(0);
    }
}

@media only screen and (max-width: 850px) {
    ul li {
        font-size: 11px;
    }
}

/* When the screen width is less than 700px make these adjustments. */

@media only screen and (max-width: 700px) {
    .notepad {
        display: auto;
        margin: 0;
        width: 100%;
    }

    .card-stack {
        width: 48%;
        height: 255px;
    }

    #year-container {
        height: 100%;
        width: 100%;
    }

    .year {
        margin-top: 20px;
        display: auto;
        width: 100%;
        vertical-align: baseline;
    }

    ul li {
        font-size: 15px;
    }

    .project {
        margin: 0 1%;
    }
    
    #project-container {
        width: 100%;
    }

    .account {
        margin: 10% 5px 0;
    }

    .handle {
        display: none;
    }
}

/* When the screen width is less than 600px make these adjustments. */

@media only screen and (max-width: 600px) {
    #summary {
        width: 100%;
        font-size: 14px;
        transform: translateY(-4px);
    }
    
    #profile {
        display: none;
    }
    
    #small-profile {
        display: inline-block;
    }
    
    #cards-container {
        width: 100%;
    }
    
    #project-container {
        margin-bottom: 200px;
    }

    ul li {
        font-size: 10px;
    }
}